language = "python3"
run = "streamlit run downloader.py --server.port=8080 --server.address=0.0.0.0 --server.headless=true"

[deploy]
run = ["sh", "-c", "streamlit run downloader.py --server.port=8080 --server.address=0.0.0.0 --server.headless=true"]

[env]
STREAMLIT_SERVER_HEADLESS = "true"
STREAMLIT_SERVER_PORT = "8080"
STREAMLIT_SERVER_ADDRESS = "0.0.0.0"
